# Build and Release Folders
bin-debug/
var/
unixide/
bin-release/
[Oo]bj/
[Bb]in/
[PDP]/
(root)
(main)
(env)


# Other files and folders
.settings/

# Writable and Executables
*.swf
*.air
*.ipa
*.apk
*.(various-extension)

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Flash Builder this contains various file, folders, file content, system file configurations by autocompleions code zero-timeouts
# font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
